.content-wrapper
  - @posts.each do |post|
    .content-block
      .content
        .user-about
          .user-about__userContents
            .user-about__userIcon
              - if post.user.image.attached?
                = image_tag post.user.image
              - else
                = image_tag "usericon.png"
            .user-about__userName
              = post.user.name
          .user-about__postDetail
            .user-about__postDate
              = post.created_at.strftime("%Y-%m-%d %H:%M")
        .body-contents
          .body-contents__musicdetail
            .body-contents__musicTitle
              = post.musictitle
            .body-contents__artistName 
              = post.artist
            .body-contents__comment 
              = post.content
          .body-contents__image
            - if post.images.attached?
              .body-contents__albumImage 
                - post.images.each do |image|
                  = image_tag image
            - else
              .body-contents__albumImage NO IMAGE
        .action-menu
        .ike   
        .comment